main, footer, #login-page {
    background-color: rgb(176, 176, 176);
    padding: 15px;
}

footer {
    width: 100%;
    text-align: center;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.card-hover {
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card-hover:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}