main, footer, #login-page {
    background-color: rgb(176, 176, 176);
    padding: 15px;
}

footer {
    width: 100%;
    text-align: center;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

.cursor-pointer {
    cursor: pointer;
}