#scheduler {
    user-select: none;

    #newDay {
        text-align: left;
    }

    #newAssignment {
        text-align: left;
    }

    input, button, select {
        width: 140px;
        margin: 2px;
    }

    .halfButton {
        width: 65px;
    }
}
