#main {
    margin: 20px;
}

#save {
    position: absolute;
    left: 100px;
    top: 5px;
    display : inline-flex;
}

.head-buttons a {
    color: black;
    text-decoration: none;
}

.head-buttons {
    border: none;
}

#trash-head {
    width: 30px;
}

.trash:hover {
    cursor: pointer;
}