#admin-page {
    width: 100%;
    display: block;

    #head {
        text-align: center;
        font-size: 60px;
    }

    @media (max-width: 1200px) {
        #users-table,
        #perms-table {
            width: 100%;
        }
    }

    @media (min-width: 1200px) {
        #users-table {
            margin-top: 20px;
            float: left;
            width: calc(60% - 10px);
        }

        #perms-table {
            margin-top: 20px;
            float: right;
            width: calc(40% - 10px);
        }
    }

    #users {
        text-align: center;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    #users-table {
        width: 100%;
    }

    input {
        width: 100px;
    }

    #settings {
        text-align: center;

        table {
            width: 100%;
        }

        tr {
            width: 100%;
        }

        .saveableTextInput {
            padding: 5px;
        }
    }

    #scheduler {
        text-align: center;

        #deployButton {
            margin-top: 20px;
        }
    }
}